{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Editer Exp.Transport / Voyage</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Editer Exp.Transport / Voyage</li>
                </ol>
        </div>
{% endblock %}

{% block container %}

    <a href="{{ path('com_Exptransp_Voyage') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
       <div style="float:right;">
        {{ form(delete_form) }}
   </div>
    <br>
  <div class="Formdiv"  style="width:300px;"> 
  {{ form(edit_form) }}
  </div>
{% endblock %}
