{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SuivService creation</h1>
<div  style="width:25%;">
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_suiv_service') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
