{% extends 'ComUserBundle::layout.html.twig' %}

{% block body %}
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post">
        {{ form_widget(form) }}
        <input type="submit" value="Mettre à jour" />
    </form>
{% endblock %}