{% extends 'ComDaufinBundle::layout.html.twig' %}

{% block container -%}
    <h1>Site edit</h1>
<div  style="width:25%;">
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_site') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
