{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Chéque</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Chéque</a></li>
                  <li class="active">Ajouter</li>
                </ol>
        </div>
{% endblock %}

{% block container %}
    <h1>Cheque creation</h1>
<div  style="width:25%;">
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_Cheque') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>        
{% endblock %}
