{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Liste du Personnel</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Liste du Personnel</li>
                </ol>
        </div>
{% endblock %}

{% block container%}
    <h1>ReglementFacture creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_RegleFacture') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
