{% extends 'ComDaufinBundle::layout.html.twig' %}
{% block _container %}
        <div class="page-head">
                <h2>Stock</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Stock</li>
                </ol>
        </div>
{% endblock %}

{% block container %}

{% endblock %}
