{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Editer Affectation</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                 <li><a href="{{ path('com_affecter') }}"> Agence/Personnel </a></li>
                  <li class="active">{{ entity.id }}</li>
                </ol>
        </div>
{% endblock %}

{% block container%}

    <a href="{{ path('com_affecter') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
       
    <br>
  <div   style="width:300px;"> 
  {{ form(edit_form) }}
  </div>
{% endblock %}

