{% extends"ComDaufinBundle::layout.html.twig"%}

{%block container%}
    <h1>Expedition creation</h1>
<div  style="width:25%;">
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_Expedition') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
